In [38]:
import numpy as np
import pandas as pd
from scipy.stats import mstats
import statsmodels.formula.api as smf

In [39]:
# Read data into a DataFrame.
data = pd.read_csv('./data/advertising.csv', index_col=0)
data.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [40]:
linear_formula = 'Sales ~ TV+Radio+Newspaper'
lm = smf.ols(formula=linear_formula, data=data).fit()

In [41]:
lm.params

Intercept    2.938889
TV           0.045765
Radio        0.188530
Newspaper   -0.001037
dtype: float64

In [42]:
lm.pvalues

Intercept    1.267295e-17
TV           1.509960e-81
Radio        1.505339e-54
Newspaper    8.599151e-01
dtype: float64

In [43]:
lm.rsquared

0.89721063817895219

In [63]:
# Re-fit the model here.

sample = data.sample(100)

linear_formula = 'Sales ~ TV+Radio'
lm = smf.ols(formula=linear_formula, data=sample).fit()

In [64]:
lm.params

Intercept    2.809347
TV           0.045156
Radio        0.193837
dtype: float64

In [49]:
lm.pvalues

Intercept    4.565557e-19
TV           5.436980e-82
Radio        9.776972e-59
dtype: float64

In [50]:
lm.rsquared

0.89719426108289568

In [51]:
# 95% of the time our results will fall in this range. you can play around with the sample above to see this in action
lm.conf_int()

                  0         1
Intercept  2.340343  3.501857
TV         0.043013  0.048497
Radio      0.172139  0.203850