In [1]:
import pandas as pd
df = pd.read_csv("data/purchases.csv")
df

  Unnamed: 0 country  ad_views  items_purchased
0     George      US        16                2
1       John     CAN        42                1
2     Thomas     CAN        32                0
3      James      US        13                8
4     Andrew     CAN        63                0
5     Martin      US        19                5
6    William      US        65                7
7    Zachary      US        23                3
8    Millard     CAN        16                0
9   Franklin      US        77                5

In [5]:
df.to_csv("output/purchases_example_with_semicolon.csv", sep=";")

In [8]:
df_json = pd.read_json("data/purchases.json")
df_json
# pandas.io.json.json_normalize()

  Unnamed: 0  ad_views country  items_purchased
0     George        16      US                2
1       John        42     CAN                1
2     Thomas        32     CAN                0
3      James        13      US                8
4     Andrew        63     CAN                0
5     Martin        19      US                5
6    William        65      US                7
7    Zachary        23      US                3
8    Millard        16     CAN                0
9   Franklin        77      US                5

In [9]:
serialized_purchases = df_json.to_json()
serialized_purchases

'{"Unnamed: 0":{"0":"George","1":"John","2":"Thomas","3":"James","4":"Andrew","5":"Martin","6":"William","7":"Zachary","8":"Millard","9":"Franklin"},"ad_views":{"0":16,"1":42,"2":32,"3":13,"4":63,"5":19,"6":65,"7":23,"8":16,"9":77},"country":{"0":"US","1":"CAN","2":"CAN","3":"US","4":"CAN","5":"US","6":"US","7":"US","8":"CAN","9":"US"},"items_purchased":{"0":2,"1":1,"2":0,"3":8,"4":0,"5":5,"6":7,"7":3,"8":0,"9":5}}'

In [22]:
data = [{'state': 'Florida','shortname': 'FL','info': {'governor': 'Rick Scott'},'counties': [{'name': 'Dade', 'population': 12345}, {'name': 'Broward', 'population': 40000}, {'name': 'Palm Beach', 'population': 60000}]}, {'state': 'Ohio','shortname': 'OH','info': {'governor': 'John Kasich'},'counties': [{'name': 'Summit', 'population': 1234}, {'name': 'Cuyahoga', 'population': 1337}]}]
df_json_not_normalized = pd.DataFrame(data)
df_json_not_normalized

,counties,info,shortname,state
0,"[{'name': 'Dade', 'population': 12345}, {'name...",{'governor': 'Rick Scott'},FL,Florida
1,"[{'name': 'Summit', 'population': 1234}, {'nam...",{'governor': 'John Kasich'},OH,Ohio

In [61]:
df_json_normalized = pd.io.json.json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])
df_json_normalized

         name  population info.governor    state shortname
0        Dade       12345    Rick Scott  Florida        FL
1     Broward       40000    Rick Scott  Florida        FL
2  Palm Beach       60000    Rick Scott  Florida        FL
3      Summit        1234   John Kasich     Ohio        OH
4    Cuyahoga        1337   John Kasich     Ohio        OH

In [67]:
# More info on this: http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.io.json.json_normalize.html
df_json_normalized = pd.io.json.json_normalize(data, 'counties', [['info', 'governor']])
df_json_normalized

         name  population info.governor
0        Dade       12345    Rick Scott
1     Broward       40000    Rick Scott
2  Palm Beach       60000    Rick Scott
3      Summit        1234   John Kasich
4    Cuyahoga        1337   John Kasich

In [25]:
with open('data/poem.txt') as poem_file:
    text = poem_file.readlines()
    print("This file is {} lines long".format(len(text)))
    for line in text:
        print(line)

This file is 19 lines long
Beautiful is better than ugly.

Explicit is better than implicit.

Simple is better than complex.

Complex is better than complicated.

Flat is better than nested.

Sparse is better than dense.

Readability counts.

Special cases aren't special enough to break the rules.

Although practicality beats purity.

Errors should never pass silently.

Unless explicitly silenced.

In the face of ambiguity, refuse the temptation to guess.

There should be one-- and preferably only one --obvious way to do it.

Although that way may not be obvious at first unless you're Dutch.

Now is better than never.

Although never is often better than *right* now.

If the implementation is hard to explain, it's a bad idea.

If the implementation is easy to explain, it may be a good idea.

Namespaces are one honking great idea -- let's do more of those!