In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

In [22]:
# Load our data
ptr = pd.read_csv('./data/Zip_PriceToRentRatio_AllHomes.csv')
zillow = pd.read_csv('./data/Zip_Zhvi_Summary_AllHomes.csv')
two_bed_buy = pd.read_csv('./data/Zip_Zhvi_2bedroom.csv')
two_bed_rent = pd.read_csv('./data/Zip_MedianRentalPrice_2Bedroom.csv')
three_bed_buy = pd.read_csv('./data/Zip_Zhvi_3bedroom.csv')
three_bed_rent = pd.read_csv('./data/Zip_MedianRentalPrice_3Bedroom.csv')

In [23]:
REGION = 60657
print("*****\nPrice to rent")
display(ptr[ptr.RegionName == REGION])
print("*****\nZillow")
display(zillow[zillow.RegionName == REGION])
print("*****\n3 bed buy")
display(three_bed_buy[three_bed_buy.RegionName == REGION])
print("*****\n3 bed rent")
display(three_bed_rent[three_bed_rent.RegionName == REGION])

*****
Price to rent

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,2010-10,2010-11,2010-12,...,2016-09,2016-10,2016-11,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06
1,84654,60657,Chicago,IL,Chicago,Cook,2,13.27,13.2,13.2,...,12.4,12.52,12.68,12.85,12.99,13.07,13.15,13.23,13.17,13.01

*****
Zillow

,Date,RegionID,RegionName,State,Metro,County,City,SizeRank,Zhvi,MoM,QoQ,YoY,5Year,10Year,PeakMonth,PeakQuarter,PeakZHVI,PctFallFromPeak,LastTimeAtCurrZHVI
1,2017-06-30,84654,60657,IL,Chicago,Cook,Chicago,1,329100,0.003966,0.016368,0.036535,0.045942,0.002339,2017-06,2017-Q2,329100,0.0,2017-06

*****
3 bed buy

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2016-09,2016-10,2016-11,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06
1,84654,60657,Chicago,IL,Chicago,Cook,2,254500.0,255300.0,257700.0,...,553500,556000,557600,559400.0,562300,565200,565800,566700,568900,570600

*****
3 bed rent

,RegionName,City,State,Metro,CountyName,SizeRank,2010-03,2010-04,2010-05,2010-06,...,2016-09,2016-10,2016-11,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06
1,60657,Chicago,IL,Chicago,Cook,2,NaN,NaN,NaN,NaN,...,2600.0,2550.0,2467.0,2595.0,2500.0,2580.0,2695.0,2645.0,2700.0,2700.0

In [24]:
# Select the columns we want
zillow_columns = pd.DataFrame({'RegionName': zillow['RegionName'], 'YOY': zillow['YoY'], '5Year': zillow['5Year'], '10Year': zillow['10Year']})
two_bed_buy_columns = pd.DataFrame({'RegionName': two_bed_buy['RegionName'], 'two_bed_buy_2017': two_bed_buy['2017-06'], 'two_bed_buy_2016': two_bed_buy['2016-06']})
two_bed_rent_columns = pd.DataFrame({'RegionName': two_bed_rent['RegionName'], 'two_bed_rent_2017': two_bed_rent['2017-06'], 'two_bed_rent_2016': two_bed_rent['2016-06']})
three_bed_buy_columns = pd.DataFrame({'RegionName': three_bed_buy['RegionName'], 'three_bed_buy_2017': three_bed_buy['2017-06'], 'three_bed_buy_2016': three_bed_buy['2016-06']})
three_bed_rent_columns = pd.DataFrame({'RegionName': three_bed_rent['RegionName'], 'three_bed_rent_2017': three_bed_rent['2017-06'], 'three_bed_rent_2016': three_bed_rent['2016-06']})

In [25]:
# Start a new DF where we'll be saving our data
data = pd.DataFrame({'RegionName': ptr['RegionName'], 'City': ptr['City'], 'State': ptr['State']})
data["PTR_6_months"] = (ptr['2017-06'] + ptr['2017-05'] + ptr['2017-04'] + ptr['2017-03'] + ptr['2017-02'] + ptr['2017-01']) / 6

data = data.merge(zillow_columns, on='RegionName', how='outer')
data = data.merge(two_bed_buy_columns, on='RegionName', how='outer')
data = data.merge(two_bed_rent_columns, on='RegionName', how='outer')
data["rent_change_two_bed"] = (data["two_bed_rent_2017"] - data["two_bed_rent_2016"]) / data["two_bed_rent_2016"]
data["buy_change_two_bed"] = (data["two_bed_buy_2017"] - data["two_bed_buy_2016"]) / data["two_bed_buy_2016"]
print("TWO BEDROOMS")
print(data.shape)
print(data.dropna().shape)
data.dropna().sort_values('PTR_6_months')[data["City"] == "Philadelphia"]

TWO BEDROOMS
(13514, 13)
(440, 13)

/Users/carl/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,City,RegionName,State,PTR_6_months,10Year,5Year,YOY,two_bed_buy_2016,two_bed_buy_2017,two_bed_rent_2016,two_bed_rent_2017,rent_change_two_bed,buy_change_two_bed
5268,Philadelphia,19123,PA,14.478333,0.034120,0.053942,0.079365,345400.0,373000.0,2000.0,1850.0,-0.075000,0.079907
5436,Philadelphia,19106,PA,14.505000,0.003972,0.044940,0.079468,498700.0,527600.0,2375.0,2400.0,0.010526,0.057951
1826,Philadelphia,19130,PA,14.553333,0.017937,0.053063,0.092452,310000.0,332300.0,1750.0,1700.0,-0.028571,0.071935
779,Philadelphia,19147,PA,15.218333,0.033661,0.060427,0.087760,282300.0,311500.0,1685.0,1800.0,0.068249,0.103436
960,Philadelphia,19103,PA,15.336667,0.010594,0.045385,0.074487,644400.0,700700.0,2395.0,2400.0,0.002088,0.087368

In [26]:
# Start a new DF where we'll be saving our data
data = pd.DataFrame({'RegionName': ptr['RegionName'], 'City': ptr['City'], 'State': ptr['State']})
data["PTR_6_months"] = (ptr['2017-06'] + ptr['2017-05'] + ptr['2017-04'] + ptr['2017-03'] + ptr['2017-02'] + ptr['2017-01']) / 6

data = data.merge(zillow_columns, on='RegionName', how='outer')
data = data.merge(three_bed_buy_columns, on='RegionName', how='outer')
data = data.merge(three_bed_rent_columns, on='RegionName', how='outer')
data["rent_change_three_bed"] = (data["three_bed_rent_2017"] - data["three_bed_rent_2016"]) / data["three_bed_rent_2016"]
data["buy_change_three_bed"] = (data["three_bed_buy_2017"] - data["three_bed_buy_2016"]) / data["three_bed_buy_2016"]
print("THREE BEDROOMS")
print(data.shape)
print(data.dropna().shape)
data.dropna().sort_values('PTR_6_months')[data["three_bed_buy_2017"] < 170000][data["City"] == "Philadelphia"]

THREE BEDROOMS
(13640, 13)
(370, 13)

/Users/carl/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,City,RegionName,State,PTR_6_months,10Year,5Year,YOY,three_bed_buy_2016,three_bed_buy_2017,three_bed_rent_2016,three_bed_rent_2017,rent_change_three_bed,buy_change_three_bed
419,Philadelphia,19134,PA,4.610000,-0.010150,0.011894,0.026616,48600.0,46400.0,1000.0,1100.0,0.100000,-0.045267
937,Philadelphia,19139,PA,5.298333,0.002963,0.045945,0.040971,60900.0,59500.0,1100.0,1295.0,0.177273,-0.022989
73,Philadelphia,19143,PA,5.585000,0.008083,0.039677,0.122481,57000.0,63600.0,1000.0,1200.0,0.200000,0.115789
3664,Philadelphia,19142,PA,5.920000,-0.003522,0.031833,0.066274,65900.0,70300.0,900.0,937.5,0.041667,0.066768
628,Philadelphia,19145,PA,11.261667,0.037805,0.088969,0.144531,140800.0,164300.0,1275.0,1295.0,0.015686,0.166903

In [27]:
#ptr[ptr["City"] == "Raleigh"].sort_values("2017-06")

In [34]:
ptr[ptr["RegionName"] == 19145]

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,2010-10,2010-11,2010-12,...,2016-09,2016-10,2016-11,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06
628,65812,19145,Philadelphia,PA,Philadelphia,Philadelphia,629,9.69,9.62,9.75,...,10.31,10.3,10.46,10.61,10.9,11.15,11.27,11.4,11.48,11.37

In [42]:
zillow[zillow["RegionName"] == 19145]

,Date,RegionID,RegionName,State,Metro,County,City,SizeRank,Zhvi,MoM,QoQ,YoY,5Year,10Year,PeakMonth,PeakQuarter,PeakZHVI,PctFallFromPeak,LastTimeAtCurrZHVI
628,2017-06-30,65812,19145,PA,Philadelphia,Philadelphia,Philadelphia,628,175800,0.009185,0.028672,0.144531,0.088969,0.037805,2017-06,2017-Q2,175800,0.0,2017-06