In [8]:
# SELECT * FROM table WHERE id IN (SELECT id FROM table ORDER BY RANDOM() LIMIT x)
import numpy as np
import pandas as pd
import sqlite3
import sqlalchemy

In [2]:
con = sqlite3.connect("./data/bikeshare.db")

In [3]:
df = pd.read_sql_query('SELECT * FROM status WHERE station_id LIMIT 35000', con)

In [6]:
df.head()

   station_id  bikes_available  docks_available            timestamp
0           2               18                9  2015-09-01 00:00:00
1           2               18                9  2015-09-01 00:01:00
2           2               18                9  2015-09-01 00:02:00
3           2               18                9  2015-09-01 00:03:00
4           2               18                9  2015-09-01 00:04:00

In [16]:
# Connecting to MC database
engine = sqlalchemy.create_engine('postgresql://carl:@localhost:5432/mailcharts_development')

In [17]:
df = pd.read_sql_query('SELECT * FROM companies', engine)

In [18]:
df.head()

,id,name,created_at,updated_at,url,website_url,description,service,domain_name,logo_src
0,677,Stickerobot,2014-05-24 17:53:26.644,2016-10-21 11:18:47.692,http://stickerobot.com/,None,"Sticker Robot is a California based, artist ow...",linkedin,stickerobot.com,//cache.mailcharts.com/logos/companies/677-sti...
1,1847,Lorna Jane,2015-03-03 23:21:18.536,2016-10-21 11:19:25.939,None,http://www.lornajane.com.au/,Australian manufacturer of activewear and swim...,alexa,lornajane.com.au,//cache.mailcharts.com/logos/companies/1847-lo...
2,50,NFLshop,2014-04-23 11:57:51.675,2016-10-28 10:18:41.973,http://www.nflshop.com,None,The official site of the NFL. The biggest sele...,alexa,nflshop.com,//cache.mailcharts.com/logos/companies/50-nfls...
3,17,EB Games,2014-04-23 11:57:51.673,2016-10-21 11:18:25.202,https://ebgames.com.au,None,Telecommunications & Information Service,crunchbase,ebgames.com.au,//cache.mailcharts.com/logos/companies/17-eb-g...
4,19,Grove Lane,2014-04-23 11:57:51.673,2016-10-21 11:18:25.272,http://www.grove-lane.com,None,None,alexa,grove-lane.com,//cache.mailcharts.com/logos/companies/19-grov...