In [2]:
import numpy as np
import pandas as pd
from scipy import stats

from matplotlib import pyplot as plt
import seaborn as sns
% matplotlib inline

# Plan of attack

* Find an investment property based on 2015 data: Jan 1 - dec 31
* "Invest" as of Jan 1 2016 and see if our investment held well

### Process
* Things to look at: start with price to rent as of dec 2015
* For the top 50 (lowest ptr) Find which ones had their rent grow the most from Jan 1 - dec 31
* Then compare growth of sales price
* Do this for one bed and two beds

In [70]:
price_to_rent = pd.read_csv('./data/price-to-rent-ratio.csv')
price_to_rent.head(1)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,2010-10,2010-11,2010-12,...,2016-05,2016-06,2016-07,2016-08,2016-09,2016-10,2016-11,2016-12,2017-01,2017-02
0,274772,Northeast Dallas,Dallas,TX,Dallas-Fort Worth,Dallas,1,10.0,9.91,9.73,...,11.72,11.77,12.14,12.17,12.21,12.34,12.54,12.61,12.57,12.64

In [35]:
price_to_rent.shape

(5683, 84)

In [75]:
start_date = '2015-01'
end_date = '2015-12'

start_i = price_to_rent.columns.get_loc(start_date)
end_i = price_to_rent.columns.get_loc(end_date) + 1

ptr_for_date = price_to_rent.iloc[:,start_i:end_i]
ptr_for_date["State"] = price_to_rent.iloc[:,3]
ptr_for_date["City"] = price_to_rent.iloc[:,2]
ptr_for_date["Region"] = price_to_rent.iloc[:,1]

ptr_for_date.head(3)

,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,2015-07,2015-08,2015-09,2015-10,2015-11,2015-12,State,City,Region
0,10.70,10.81,10.94,10.95,11.09,11.24,11.35,11.37,11.44,11.47,11.52,11.49,TX,Dallas,Northeast Dallas
1,11.94,12.01,12.09,12.14,12.18,12.18,12.21,12.32,12.52,12.68,12.83,12.85,NV,Las Vegas,Paradise
2,9.48,9.51,9.57,9.66,9.76,9.80,9.82,9.90,10.10,10.33,10.53,11.06,AZ,Phoenix,Maryvale