In [1]:
# Data: http://share.mailcharts.com/0P092V2m0V2x
# Headers: id, company name, company id, subject, sent at, discounts

# Goal: Will the next email be a discount?
# -- True || False
# Goal 2: How much will they discount by?

In [120]:
from datetime import date, datetime
import pandas as pd
import numpy as np
import scipy
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn import ensemble
from sklearn import datasets
from sklearn.utils import shuffle
from sklearn.metrics import mean_squared_error

In [121]:
df = pd.read_csv('./data/capstone.csv')
df.head()

,id,company_name,company_id,subject,sent_at,promotion_type,promotion_value
0,1276718,Gem Shopping Network,5929,Happy New Year - Bling in the new year with us!,2017-01-01 00:00:43,[null],[null]
1,1276721,FramesDirect.com,3527,Final Hours - Don't Lose Flex Spending Dollars...,2017-01-01 00:01:32,"[""discount_absolute"", ""discount_percentage"", ""...","[50, 25, 50]"
2,1276725,REVOLVE,2329,"Last day of 2016, LAST DAY OF THE SALE",2017-01-01 00:01:32,[null],[null]
3,1276724,REVOLVE,4490,"Last day of 2016, LAST DAY OF THE SALE",2017-01-01 00:01:44,[null],[null]
4,1276726,The RealReal,3515,40% Off New Jewelry & Watch Markdowns Starts Now,2017-01-01 00:04:04,"[""discount_percentage"", ""discount_percentage"",...","[70, 40, 20]"

In [138]:
# Clean the data

df["promo_not_promo"] = np.where(df["promotion_type"] == "[null]", "0", "1")
df["month"] = df["sent_at"].str.split('-').str.get(1).astype(int)
df["year"] = df["sent_at"].str.split('-').str.get(0).astype(int)
df["day"] = df["sent_at"].str.split('-').str.get(2).str.split(' ').str.get(0).astype(int)
# df["weeknum"] = df.apply(datetime(df["year"],df["month"],df["day"]).isocalendar()[1])
#df["am_pm"] = df
df.head()

TypeError: cannot convert the series to <class 'int'>

In [ ]:
## We want: weeknum, am/pm, weekend/weekday, month, day of month (01, 02, 03)

In [117]:
datetime(int(df["year"][0]),int(df["month"][0]),int(df["day"][0])).isocalendar()[1]

52

In [110]:
datetime(2011, 1, 1).isocalendar()[1]

52

In [135]:
type(df["day"][0])

numpy.int64